<h1>Estimate Your Customized Insurance Coverage Now!</h1>

<h4>
  Our company utilizes the most advanced artificial intelligence models to
  tailor insurance plans specifically for you. <br />To facilitate the
  estimation of your insurance cost, please fill out this form.
</h4>
<form action="http://127.0.0.1:5000/questionnaire" method="GET">
  <p><input type="submit" value="Get Start!" /></p>
</form>

<br /><br />

<h1>All Tables of Company Database</h1>

<form action="http://127.0.0.1:5000/table_info" method="POST">
  {% for item in table_names %}
  <input type="radio" name="table_name" value="{{item}}" />{{ item }}<br />
  {% endfor %}
  <p><input type="submit" value="show the selected table" /></p>
</form>
