<h1>Please fill in this form</h1>

<form action="http://127.0.0.1:5000/questionnaire/1" method="POST">
  Age: <br />
  <input type="text" id="Age" name="Age" /><br />
  Have you ever suffered from diabetes (0 No, 1 Yes): <br />
  <input type="text" id="Diabetes" name="Diabetes" /><br />
  Have you ever suffered from any blood pressure-related illnesses? (0 No, 1
  Yes):
  <br />
  <input
    type="text"
    id="any blood pressure-related illnesses?"
    name="any blood pressure-related illnesses?"
  /><br />
  Have you ever suffered from any transplants (0 No, 1 Yes): <br />
  <input type="text" id="any Transplants?" name="any Transplants?" /><br />
  Have you ever suffered from any transplants chronic diseases (0 No, 1 Yes):
  <br />
  <input
    type="text"
    id="any transplants chronic diseases?"
    name="any transplants chronic diseases?"
  /><br />
  Height: <br />
  <input type="text" id="Height" name="Height" /><br />
  Weight: <br />
  <input type="text" id="Weight" name="Weight" /><br />
  Do you have any known allergic reactions? (0 No, 1 Yes): <br />
  <input
    type="text"
    id="any known allergic reactions"
    name="any known allergic reactions"
  /><br />
  Does your family have a history of cancer? (0 No, 1 Yes): <br />
  <input type="text" id="history of cancer?" name="history of cancer?" /><br />
  How many major surgeries have you undergone in the past? <br />
  <input
    type="text"
    id="number of major surgeries?"
    name="number of major surgeries?"
  /><br />
  <p><input type="submit" value="submit" /></p>
</form>

<h2>Prefer to fill in later?</h2>
<form action="http://127.0.0.1:5000/operation" method="GET">
  <p><input type="submit" value="Go back" /></p>
</form>
